/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {    /** Universal selector *: select each and every element on the page, and then apply these declarations here from body  */
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}    /** We add on each elemnt 0 margin and padding and allows us to start without any m and p which browsers add by default. */

body {
    font-family: "Lato", sens-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;          /** That means it's 1.7 times bigger than the predefined line height. */
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;             /** The height of this element should be 95% of the viewport height. */
    background-image: linear-gradient(
        to right bottom,
        rgba(35, 182, 6, 0.8),
        rgba(128, 196, 228, 0.671)), 
    url('../img/hero.jpg');
    background-size: cover;                   /* Cover means whenever the width of viewport/element, it's always try to fit the element inside of the box.  */  
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;                         /* 50% to the left of the perent element to the left side */
    transform: translate(-50%, -50%);  /* This is in relation to the element itself */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}




















