/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {                                         /* Universal selector *: select each and every element on the page, and then apply these declarations here from body  */
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}                                           /* We add on each elemnt 0 margin and padding and allows us to start without any m and p which browsers add by default. */

body {
    font-family: "Lato", sens-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;                        /* That means it's 1.7 times bigger than the predefined line height. */
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;                            /* The height of this element should be 95% of the viewport height. */
    background-image: linear-gradient(
        to right bottom,
        rgba(35, 182, 6, 0.8),
        rgba(128, 196, 228, 0.671)), 
    url('../img/hero.jpg');
    background-size: cover;                   /* Cover means whenever the width of viewport/element, it's always try to fit the element inside of the box.  */  
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;                         /* 50% to the left of the perent element to the left side */
    transform: translate(-50%, -50%);  /* This is in relation to the element itself */
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;        /* fix for shaking animations */
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* 
    animation-delay: 3s;                 - w8ing 3 seconds before animation will start.
    animation-iteration-count: 3;        - Tha animation will happen three times.
    animation-timing-function: ease-in;  - Animation will start slower and then accelerate overtime.
    animation-timing-function: cubic-bezier(0.1, ....);  - Allows us to write custom timing function.
    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {                                  /* We start with 0% which is bofre the animation actually starts. */
        opacity: 0;
        transform: translateX(-100px);    /* trannslateX(-100px) cus we want to start from to left to right & we want to be more on the left in the beginning. */
    }

    80% {                                 /* We wanted someting to happen when animation is on 80% finished */
        transform: translateX(10px);
    }

    100% {                                /* The finish is at 100%, which is when animation finishes. */
        opacity: 1;
        transform: translate(0);          /* translate(0) cus we want look exactly the same as before animation start. */
    }
}

@keyframes moveInRight {
    0% {                     
        opacity: 0;
        transform: translateX(100px);   
    }

    80% {                    
        transform: translateX(-10px);
    }

    100% {                
        opacity: 1;
        transform: translate(0);         
    }
}

@keyframes moveInBottom {
    0% {                     
        opacity: 0;
        transform: translateY(30px);   
    }

    100% {                
        opacity: 1;
        transform: translate(0);         
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px; 
    transition: all .2s;                        /* All the property are enabled to be animated. */
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;                                /* z-index define the postion of the elements if they are on tog of another, this is -1  -so definitly behind the button. */
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {                             /* this is after effect only when button is on hover, we want to element to grow and to fade out. */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75;
    animation-fill-mode: backwards;             /* That will automatically apply the styles up to zero prercent before the animation starts */
}

















